// Google Fonts example
//@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/linetocircularbook.eot');
    src: url('/static/fonts/Circular/linetocircularbook.eot') format('embedded-opentype'),
         url('/static/fonts/Circular/linetocircularbook.woff2') format('woff2'),
         url('/static/fonts/Circular/linetocircularbook.woff') format('woff'),
         url('/static/fonts/Circular/linetocircularbook.ttf') format('truetype'),
         url('/static/fonts/Circular/linetocircularbook.svg#linetocircularbook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/linetocircularmedium.eot');
    src: url('/static/fonts/Circular/linetocircularmedium.eot') format('embedded-opentype'),
         url('/static/fonts/Circular/linetocircularmedium.woff2') format('woff2'),
         url('/static/fonts/Circular/linetocircularmedium.woff') format('woff'),
         url('/static/fonts/Circular/linetocircularmedium.ttf') format('truetype'),
         url('/static/fonts/Circular/linetocircularmedium.svg#linetocircularmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/linetocircularbold.eot');
    src: url('/static/fonts/Circular/linetocircularbold.eot') format('embedded-opentype'),
         url('/static/fonts/Circular/linetocircularbold.woff2') format('woff2'),
         url('/static/fonts/Circular/linetocircularbold.woff') format('woff'),
         url('/static/fonts/Circular/linetocircularbold.ttf') format('truetype'),
         url('/static/fonts/Circular/linetocircularbold.svg#linetocircularbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('/static/fonts/Apercu/Apercu_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('/static/fonts/Apercu/Apercu_Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Apercu';
    src: url('/static/fonts/Apercu/Apercu_Bold_Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu';
    src: url('/static/fonts/Apercu/Apercu_Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
